<h5>Ciclo de reprodução da matriz</h5>

<br />
<mat-divider></mat-divider>
<span class="required legenda-campos-obrigatorios">campos obrigatórios</span>
<br />
<br />

<igx-switch [checked]="acompanhamento.inceminacao" [(ngModel)]="acompanhamento.inceminacao"
  [disabled]="acompanhamento.dataFecundacao && acompanhamento.dataFecundacao != ''"
  (change)="mudarInceminacao(acompanhamento.inceminacao)">
  Inceminação
</igx-switch>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<igx-switch  [checked]="acompanhamento.ativo" *ngIf="acompanhamento.dataFecundacao"
   [(ngModel)]="acompanhamento.ativo" (change)="mudarAtivo(acompanhamento.ativo)">
   <mat-label *ngIf="acompanhamento.ativo && acompanhamento.dataPartoReal">Confirmada gestação</mat-label>
   <mat-label *ngIf="acompanhamento.ativo && !acompanhamento.dataPartoReal">Em confirmação gestação</mat-label>
   <mat-label *ngIf="!acompanhamento.ativo && !acompanhamento.dataPartoReal">Não confirmada gestação</mat-label>
   <mat-label *ngIf="!acompanhamento.ativo && acompanhamento.dataPartoReal">Encerar ciclo</mat-label>
</igx-switch>

<br />
<br />

<mat-chip-list>
  <mat-chip color="primary">Nº matriz {{acompanhamento.femeaId}}</mat-chip>

  <mat-chip *ngIf="acompanhamento.dataPartoPrevisao" color="primary">Previsão de parto em
    {{acompanhamento.dataPartoPrevisao | date: 'dd/MM/yyyy'}}
  </mat-chip>

  <mat-chip *ngIf="acompanhamento.dataDesmamePrevisao" color="primary">Previsão de desmame em
    {{acompanhamento.dataDesmamePrevisao | date: 'dd/MM/yyyy'}}
  </mat-chip>
</mat-chip-list>

<br />

<mat-form-field class="example-full-width">

  <mat-label class="required">Reprodutor</mat-label>
  <input type="text" [disabled]="acompanhamento.id > 0" aria-label="Number" matInput [matAutocomplete]="auto"
    [(ngModel)]="acompanhamento.reprodutorId">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let reprodutor of reprodutores" [value]="reprodutor.id">
      {{reprodutor.nome }}
    </mat-option>
  </mat-autocomplete>
  <mat-icon matSuffix>filter_9</mat-icon>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field>
  <mat-label class="required">Data cobertura</mat-label>
  <input matInput [disabled]="acompanhamento.dataPartoReal != undefined" [matDatepicker]="picker"
    [(ngModel)]="acompanhamento.dataFecundacao">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field>
  <mat-label>Data que pariu</mat-label>
  <input matInput [matDatepicker]="picker2" [(ngModel)]="acompanhamento.dataPartoReal">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>


<div *ngIf="acompanhamento.dataPartoReal != undefined">

  <mat-form-field>
    <mat-label class="required"> Nº leitões nascidos</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeFilhote">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label class="required">Nº leitões VV</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeFilhoteVV">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>


  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label class="required">Nº leitões NM</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeFilhoteNM">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="required">Nº leitões MF</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeFilhoteMF">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label class="required">Peso médio de nascimento</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.pesoFilhoteNascimento">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label class="required">Quantidade machos</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeSexoM">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="required">Quantidade fêmeas</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeSexoF">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Nº leitões mortos</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeFilhoteMorto">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Nº leitões doados</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeDoado">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nº leitões adotados</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeAdotado">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Nº femêa adoção</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.numeroFemeaAdocao">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Nº leitões desmamados</mat-label>
    <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.quantidadeDesmamado">
    <mat-icon matSuffix>filter_9</mat-icon>
  </mat-form-field>

</div>

<mat-form-field>
  <mat-label>Data de desmame</mat-label>
  <input matInput [matDatepicker]="picker3" [(ngModel)]="acompanhamento.dataDesmameReal">
  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
  <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field *ngIf="acompanhamento.dataDesmameReal != undefined">
  <mat-label class="required">Peso médio de desmame</mat-label>
  <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.pesoFilhoteDesmamado">
  <mat-icon matSuffix>filter_9</mat-icon>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field *ngIf="acompanhamento.dataDesmameReal != undefined">
  <mat-label class="required">Valor de desmame</mat-label>
  <input matInput type="number" class="example-right-align" [(ngModel)]="acompanhamento.valorDesmamado">
  <mat-icon matSuffix>filter_9</mat-icon>
</mat-form-field>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="fechar()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions>