<h5>Upl</h5>

<mat-tab-group>
  <!-- controle de ciclos -->
  <mat-tab>
    <ng-template mat-tab-label>
      Controle ciclos de reprodução
    </ng-template>

    <p>
      Acompanhe os ciclos reprodutivos da granja.
     
      <button mat-raised-button color="success" class="right" [matMenuTriggerFor]="upl">
        Ações
      </button>
      <mat-menu #upl="matMenu">
        <button mat-menu-item (click)="abrirAnimalDialog()">Nova matriz</button>
        <button mat-menu-item (click)="gerarRelatorioUpl()">Relatório da Upl</button>
        <button mat-menu-item (click)="abrirSimuladorCiclo()">Simular ciclo da Upl</button>
      </mat-menu>
    </p>
    <br />

    <div class="lista-animal">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let femea of femeas" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon matSuffix *ngIf="femea.pertenceAgranja()">star_border</mat-icon> 
              &nbsp;&nbsp; Nº matriz {{femea.numero}}

              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{femea.raca}}
              <span>&nbsp;&nbsp;&nbsp;</span>

              <mat-chip-list>

                <mat-chip *ngIf="animalComportamento.taNoPeriodoEntreGestacaoElactacao(femea)" color="primary" selected>
                  {{animalComportamento.obterSituacao(femea.situacao)}}
                  {{animalComportamento.calcularDiasDesdeFecundacao(femea)}} dias
                </mat-chip>

                <mat-chip *ngIf="femea.taEmSituacaoDeIDC()">
                  {{animalComportamento.obterSituacao(femea.situacao)}}
                </mat-chip>

                <mat-chip *ngIf="animalComportamento.taEmConfirmacaoGestacaoEnaoTaEmAlerta(femea)">
                  {{animalComportamento.obterSituacao(femea.situacao)}}
                  {{animalComportamento.calcularDiasDesdeFecundacao(femea)}} dias
                </mat-chip>
                <mat-chip *ngIf="animalComportamento.taEmAlertaDeConfirmacaoDeGestacao(femea)" color="warn" selected>
                  {{animalComportamento.obterSituacao(femea.situacao)}}
                  {{animalComportamento.calcularDiasDesdeFecundacao(femea)}} dias
                </mat-chip>
              </mat-chip-list>

              <span>&nbsp;&nbsp;</span>

              <span *ngIf="animalComportamento.foiParida(femea)">
                {{animalComportamento.calcularQuantidadeFilhotesAtual(femea)}} leitões
              </span>

              <span>&nbsp;&nbsp;</span>

              <span *ngIf="animalComportamento.foiParida(femea)">
                {{animalComportamento.calcularQuantidadeDiasDeParida(femea)}} dias
              </span>

            </mat-panel-title>
            <mat-panel-description>

              <span *ngIf="animalComportamento.foiFecundadaEnaoPariu(femea)">

                cobertura em {{animalComportamento.obterDataCobertura(femea) | date: 'dd/MM/yyyy'}}
                <span>&nbsp;&nbsp;</span>

                <strong>parto provável em
                  {{animalComportamento.obterDataPartoPrevisao(femea) | date: 'dd/MM/yyyy'}}
                </strong>

                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <mat-chip color="warn" *ngIf="animalComportamento.taEmAlertaDeParto(femea)" selected>
                  FALTAM {{animalComportamento.calcularAlertaDeParicao(femea)}} dias
                </mat-chip>
              </span>

              <span *ngIf="animalComportamento.foiParida(femea)">

                parto em {{animalComportamento.obterDataPartoReal(femea) | date: 'dd/MM/yyyy'}}
                <span>&nbsp;&nbsp;</span>

                <strong>desmame provável em
                  {{animalComportamento.obterDataDesmamePrevisao(femea) | date: 'dd/MM/yyyy'}}
                </strong>
              </span>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <a mat-raised-button (click)="abrirFichaDialog(femea.id)">Exibir ficha</a>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <a mat-raised-button color="warn" (click)="abrirCicloReproducaoDialog(femea.id)">Ciclo de reprodução</a>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <a mat-raised-button (click)="abrirAnimalDialog(femea.id)">Dados da matriz</a>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <!-- programa dos ciclos -->
  <mat-tab>
    <ng-template mat-tab-label>
      Programa dos ciclos da upl
    </ng-template>

    <p>
      Veja o resumo da granja em todas as situações dos animais.
    </p>

    <br />

    <div class="row">
      <div class="list-group menu-situacoes-upl">
        <a (click)="selecionarSituacao(situacao.sigla)" class="list-group-item list-group-item-action flex-column"
          *ngFor="let situacao of situacoes">
          <div class="d-flex">
            <span class="mb-1 menu-situacoes-nome">{{situacao.nome}}</span>
            <span class="canto-superior-direito">
              <strong>{{situacao.quantidade}}</strong>
              <span>&nbsp;&nbsp;</span> animais
            </span>
          </div>
          <small>{{situacao.descricao}}</small>
        </a>
      </div>

      <div class="menu-situacoes-detalhe-upl">
        <h5>{{situacaoSelecionada.nome}}</h5>
        <i>
          {{situacaoSelecionada.descricao}}
        </i>
        <br />
        <mat-divider></mat-divider>
        <br />

        <h6>Programa do animal</h6>

        <br />

        <a mat-stroked-button class="canto-superior-direito" (click)="abrirProgramaDialog()" routerLink=".">adicionar
          item no
          programa
        </a>

        <br />
        <br />

        <mat-card *ngFor="let programaItem of programaItensSelecionados">
          <div class="d-flex">
            <strong>
              {{programaItem.mostrarDescricaoIntervalo()}}
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </strong>

            <span *ngIf="programaItem.eDoTipoConsumo()">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <i>{{programaItem.mostrarDescricaoQuantidade()}}</i>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
            <h6 class="mb-1">
              <mat-chip-list>
                <mat-chip *ngIf="programaItem.eDoTipoConsumo()" color="primary" selected>
                  {{programaItem.mostrarObjetivo()}}</mat-chip>
                <mat-chip *ngIf="!programaItem.eDoTipoConsumo()"> {{programaItem.mostrarObjetivo()}}</mat-chip>
                <span>&nbsp;&nbsp;</span>{{programaItem.mostrarDescricao()}}
              </mat-chip-list>
            </h6>
          </div>
          <p>{{programaItem.mostrarObservacao()}}</p>

          <span>
            <igx-dialog #dialog title="Remover" leftButtonLabel="Cancelar" (onLeftButtonSelect)="dialog.close()"
              rightButtonLabel="Remover" (onRightButtonSelect)="removerProgramaItem(programaItem.id)"
              message="Deseja remover esse registro ?">
            </igx-dialog>
            <button mat-button color="warn" (click)="dialog.open(programaItem.id)">remover</button>
            <button mat-button color="primary" (click)="abrirProgramaDialog(programaItem.id)">editar</button>
          </span>
        </mat-card>
      </div>
    </div>
    <br /><br />
  </mat-tab>
</mat-tab-group>


<simple-notifications [options]="options"></simple-notifications>