<h5>Venda</h5>

<br />
<mat-divider></mat-divider>
<span class="required legenda-campos-obrigatorios">campos obrigatórios</span>
<br />

<mat-chip-list *ngIf="limiteDeQuantidade != ''">
    <mat-chip color="primary">Limite de quantidade {{limiteDeQuantidade}}</mat-chip>
</mat-chip-list>

<br />

<mat-form-field>
  <mat-label class="required">Data do venda</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="venda.data" [disabled]="venda.id > 0 && venda.data">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field class="dropdown-lote">
  <mat-label class="required">Selecione o lote</mat-label>
  <mat-select (selectionChange)="mudarLote(vendaItem.origemId)" [(ngModel)]="vendaItem.origemId" >
    <mat-option *ngFor="let lote of lotes" [value]="lote.id">
      {{lote.dias}} 
      <span>&nbsp;dias</span>  - 
      {{lote.quantidade}}
      <span>&nbsp;animais</span> 
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label class="required">Quantidade </mat-label>
  <input matInput type="number" class="example-right-align" [(ngModel)]="vendaItem.quantidade">
  <mat-icon matSuffix>filter_9</mat-icon>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field>
  <mat-label class="required">Valor da venda</mat-label>
  <input matInput type="number" class="example-right-align" [(ngModel)]="vendaItem.valor">
  <mat-icon matSuffix>money</mat-icon>
</mat-form-field>

<br /><br />

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="fechar()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions> 