
.example-container {
    height: 400px;
    overflow: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .right{
    position: absolute; 
    right: 100px;
  }

  
  table {
    width: 100%;
  }

  .required::before 
{
    content:"* "; 
    color: red;
}

.legenda-campos-obrigatorios
{
  font-size: 12px;
}

  mat-form-field.mat-form-field {
    font-size: 15px;
    width: 155px;
  }

  p {
    font-size: 18px;
    color: #586069;
    flex: 1 100%;
}

