
.dropdown-racao {
    width: 100%;
  }


  .mat-sort-header-container {
    align-items: center;
  }

  .botao-venda-adicionar{
    position: absolute; 
    right: 10px;
    margin-right: 5px;
    padding-top: 5px;
  }

  .resumo-venda {
    align-items: center;
  }
  