<h5 mat-dialog-title>Ficha da matriz</h5>

<br />
<label>Nº<b>{{femea.numero}}</b></label><br />
<label>Idade <b>{{femea.dataNascimento}}</b></label><br />
<label>Raça <b>{{femea.raca}}</b></label><br />
<label>Quantidade ciclos <b>{{femea.quantidadeCiclo}}</b></label>

<div>
  <h6>Histórico</h6>
  <mat-divider></mat-divider>
  <br />

  <div class="row">
    <div class="list-group menu-ficha">
      <a  class="list-group-item list-group-item-action flex-column"
        *ngFor="let itemMenu of menu">
        <div class="d-flex">
          <span class="mb-1 menu-ficha-nome">{{itemMenu}}</span>
        </div>
      </a>
    </div>

    <div class="menu-ficha-detalhe">
      <mat-card>
        <div class="d-flex">
          <strong>
            akjs dkajsd kajsd akdj 
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </strong>

          <span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i>dakjs dkajsd kajds kajd</i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <h6 class="mb-1">
            <mat-chip-list>
              <mat-chip> kasjd kajsd kjasd k</mat-chip>
              <span>&nbsp;&nbsp;</span>ajshd ajshd jashd 
            </mat-chip-list>
          </h6>
        </div>
        <p>adjhsd ajhsd jahsd j</p>
      </mat-card>
    </div>
  </div>
</div>

<br />
<br />
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="fechar()">Fechar</button>
</mat-dialog-actions>