<h5>Ficha do animal</h5>

<br />

<mat-chip-list>
  <mat-chip color="primary">Nº do animal {{animal.numero}}</mat-chip>
  <mat-chip color="primary">Sexo {{animal.sexo}}</mat-chip>
  <mat-chip color="primary">Idade {{animalComportamento.calcularQuantidadeDiasAteHoje(animal.dataNascimento)}} dias</mat-chip>
  <mat-chip color="primary">Raça {{animal.raca}}</mat-chip>
  <mat-chip color="primary" *ngIf="animal.quantidadeCiclo">Quantidade ciclos {{animal.quantidadeCiclo}}</mat-chip>
  <mat-chip color="primary">Tag {{animalComportamento.obterSituacao(animal.tag)}}</mat-chip>
</mat-chip-list>

<br />

<div>
  <h6>Histórico</h6>
  <mat-divider></mat-divider>
  <br />

  <div class="row">
    <div class="list-group menu-ficha">
      <a class="list-group-item list-group-item-action flex-column" *ngFor="let itemMenu of menu">
        <div class="d-flex">
          <span class="mb-1 menu-ficha-nome">{{itemMenu}}</span>
        </div>
      </a>
    </div>

    <div class="menu-ficha-detalhe">
      <table mat-table [dataSource]="dataSourceCiclos" class="tabela-ciclos">

        <!-- Name Column -->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Ativo</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip *ngIf="element.ativo" color="primary" selected>SIM</mat-chip>
              <mat-chip *ngIf="!element.ativo" color="primary">NÃO</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="reprodutor">
          <th mat-header-cell *matHeaderCellDef> Reprodutor</th>
          <td mat-cell *matCellDef="let element">{{element.reprodutorId}}</td>
        </ng-container>

        <ng-container matColumnDef="fecundacao">
          <th mat-header-cell *matHeaderCellDef> Cobertura </th>
          <td mat-cell *matCellDef="let element"> {{element.dataFecundacao |  date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="parto">
          <th mat-header-cell *matHeaderCellDef> Parto </th>
          <td mat-cell *matCellDef="let element">
            <span> &nbsp;</span>{{element.dataPartoReal |  date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="desmame">
          <th mat-header-cell *matHeaderCellDef> Desmame </th>
          <td mat-cell *matCellDef="let element"> {{element.dataDesmameReal |  date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="vv">
          <th mat-header-cell *matHeaderCellDef> NV <span>&nbsp;&nbsp;</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeFilhoteVV ? element.quantidadeFilhoteVV : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="nm">
          <th mat-header-cell *matHeaderCellDef> NM <span>&nbsp;&nbsp;</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeFilhoteNM ? element.quantidadeFilhoteNM : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="morto">
          <th mat-header-cell *matHeaderCellDef> NM <span>&nbsp;&nbsp;</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeFilhoteNM ? element.quantidadeFilhoteNM : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="pln">
          <th mat-header-cell *matHeaderCellDef> PLN <span>&nbsp;&nbsp;</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.pesoFilhoteNascimento ? element.pesoFilhoteNascimento : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="pld">
          <th mat-header-cell *matHeaderCellDef> PLD <span>&nbsp;&nbsp;</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.pesoFilhoteDesmamado ? element.pesoFilhoteDesmamado : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="doado">
          <th mat-header-cell *matHeaderCellDef> Doado <span>&nbsp;&nbsp;</span></th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeDoado ? element.quantidadeDoado : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="adotado">
          <th mat-header-cell *matHeaderCellDef> Adotado <span>&nbsp;&nbsp;</span></th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeAdotado ? element.quantidadeAdotado : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="desmamado">
          <th mat-header-cell *matHeaderCellDef> Desmamado </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeDesmamado ? element.quantidadeDesmamado : 0}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasCiclos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasCiclos;"></tr>
      </table>
    </div>
  </div>
</div>

<br />
<br />
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="fechar()">Fechar</button>
</mat-dialog-actions>