<h5>Consumo</h5>

<br />
<mat-divider></mat-divider>
<span class="required legenda-campos-obrigatorios">campos obrigatórios</span>
<br />

<mat-chip-list *ngIf="limiteDeQuantidade != ''">
    <mat-chip color="primary">Limite de quantidade {{limiteDeQuantidade}}</mat-chip>
</mat-chip-list>

<br />

<mat-form-field>
  <mat-label class="required">Data do consumo</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="consumo.data" [disabled]="consumo.id > 0 && consumo.data">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

<mat-form-field>
  <mat-label class="required">Categoria</mat-label>
  <mat-select (selectionChange)="mudarCategoriaConsumo(consumo)" [(ngModel)]="consumo.categoriaId" [disabled]="consumo.id > 0 && consumo.categoriaId > 0">
    <mat-option *ngFor="let destino of destinos" [value]="destino.id">
      {{destino.descricao}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field class="dropdown-origem-consumo">
  <mat-label class="required">Origem do consumo</mat-label>
  <mat-select (selectionChange)="mudarOrigemConsumo(consumo.origemId)" [disabled]="consumo.id > 0 && consumo.origemId" [(ngModel)]="consumo.origemId">
    <mat-option *ngFor="let origem of origens" [value]="origem.id">
      {{origem.subcategoria.descricao}} - 
      {{origem.quantidadeEntradaReal}}
      {{origem.subcategoria.unidadeMedida}}&nbsp;disponível
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label class="required">Quantidade </mat-label>
  <input matInput type="number" class="example-right-align" [(ngModel)]="consumo.quantidade">
  <mat-icon matSuffix>filter_9</mat-icon>
</mat-form-field>


<br /><br />

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="fechar()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions>