<h5>Vendas</h5>


<p>
    Saiba todo lucro de vendas do seu negócio aqui.

    <button mat-raised-button color="success" class="right" [matMenuTriggerFor]="venda">
        Criar venda
    </button>
    <mat-menu #venda="matMenu">
        <button mat-menu-item (click)="abrirVendaLeitaoDialog()">
            Venda de leitão
        </button>
    </mat-menu>
</p>

<br />

<mat-divider></mat-divider>

<mat-form-field>
    <input matInput (keyup)="filtrar($event)" placeholder="Ex. Fevereiro">
</mat-form-field>

<div class="example-container  mat-elevation-z8">
    <br />
    <span>
        <h6>
          &nbsp;&nbsp;&nbsp;&nbsp;Vendido&nbsp;&nbsp;{{totalVendido | currency:'R$ ':true:'1.2-2'}}
        </h6>
      </span>
    <table mat-table [dataSource]="dataSourceVenda">

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data da venda </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                    <span> &nbsp;</span>
                    <mat-chip>{{element.data | date: 'dd/MM/yyyy'}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="ano">
            <th mat-header-cell *matHeaderCellDef> Ano </th>
            <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Quantidade de animais </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidade}}</td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Valor</th>
            <td mat-cell *matCellDef="let element">
                {{element.mostrarValoresDetalhado()}}
            </td>
        </ng-container>

        <ng-container matColumnDef="resumo">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <span>&nbsp;&nbsp;&nbsp;</span> <a class="editar" mat-raised-button color="primary">resumo da venda</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasVenda; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasVenda;"></tr>
    </table>

    <mat-paginator (page)="paginaEvent = mudarPagina($event)" [pageSizeOptions]="paginaOptions" [pageIndex]="paginacao.pagina" [length]="paginacao.total" [pageSize]="paginacao.limite" [showFirstLastButtons]="true">
    </mat-paginator>
</div>