.racao-simular-upl{
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 15px;
    width: 68%;
  }

.medicamento-simular-upl{
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 15px;
    width: 32%;
}